.drawer-container {
  height: 100%;
  display: flex;
  background-color: #fff;
  color: #000;

  .mat-drawer {
    background-color: #e0e0d1;
    color: #000;
    width: 5%;
  }
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
