<div class="question-container p-5">
    <h3 class="question">{{ questionNumber }}. {{ question?.Title }}</h3>
    <p class="question-description">
        {{
            question?.Description
        }}
    </p>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="material-radio-group"
        [(ngModel)]="selectedOption">
        <mat-radio-button [value]="'a'" class="material-radio-button">
            {{question?.Options['a']}}
        </mat-radio-button>
        <mat-radio-button [value]="'b'" class="material-radio-button">
            {{question?.Options['b']}}
        </mat-radio-button>
        <mat-radio-button [value]="'c'" class="material-radio-button">
            {{question?.Options['c']}}
        </mat-radio-button>
        <mat-radio-button [value]="'d'" class="material-radio-button">
            {{question?.Options['d']}}
        </mat-radio-button>
    </mat-radio-group>
</div>